html {
  font-size: 12px;
}

body {
	padding: 20px;
}

li {
	margin: 5px;
}
.person-status {
	text-align: center;
}
.bottom-panel {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	text-align: center;
}
.run {
	content: 'Запустить';
}
.run.active {
	background: #f00;
	content: 'Остановить';
}

.left-panel {
	float:left;
}

.right-panel {
	float: right;
}
.rigth-panel:before {
	display: block;
	content: '';
	clear: both;
}

.top-panel {
	
}